#nav {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.nav-links{
  list-style-type: none;
  flex: auto;
  margin: 20px;

}

Link{
  text-decoration: none;
}

#nav{
  background-color: #EFBFA8;
}
