body {
  margin: 0;
  background-color: #B1D3D7;
}

.App {
  text-align: center;
}

h1 {
  color: #F29C96;
  font-family: 'Noto Sans KR', sans-serif;
}
.industry-name{
  margin: 100px 0 20px 0;
}

#title-logo{
  font-family: 'Shrikhand', cursive;
  font-size: 70px;
  color: white;
  margin-top: 30px;
  margin-right: 5px;
}
