body {
  margin: 0;
  background-color: #B1D3D7;
}

.App {
  text-align: center;
}

.industry-name{
  margin: 100px 0 20px 0;
}

#title-logo{
  font-family: 'Shrikhand', cursive;
  font-size: 100px;
  color: white;
  margin-top: 100px;
}
